@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F4F4F4;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom styles for printing tokens */
@media print {
  body * {
    visibility: hidden;
  }
  .bg-white.p-12.rounded-\[40px\].shadow-2xl {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
